{% extends 'base.html.twig' %}

{% block title %}Edycja opłaty{% endblock %}

{% block body %}

<div class="container">
	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-primary">
		<h1 class="text-primary">Formularz edycji karty wędkarskiej<h1><h3 class="text-primary">{{ oplaty.rodzaj }} dla jeziora {{ oplaty.jezioro.nazwa }}</h3> 
    </div>
</div>

<div class="container">

    {{ include('oplaty/_form.html.twig', {'button_label': 'Edytuj'}) }}

    <hr>

    <div>
        {{ include('oplaty/_delete_form.html.twig') }}
    </div>

    <hr>

    <a class="pull-left" href="{{ path('oplaty_index') }}">
        <button class="btn btn-primary">
            Powrót
        </button>
    </a>

    <div class="clearfix"></div>

</div>
{% endblock %}
